.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.input {
    padding: 15px;
    width: 80%;
    margin:auto;
    border: 1px solid;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

